<section class="container">
    <div class="row">
        <div class="col-9">
            <h1 class="text-center">Pokemon Details</h1>
            <div class="row" id="activePokedexEntry">
                <!-- <div class="col-12">
                    <h2>Pokemon Name</h2>
                    <p>Pokemon Nickname</p>
                    <div><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="pokemon name"></div>
                    <div>
                        <p class="fs-4">Types</p>
                        <p>Weight</p>
                        <p>Height</p>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="col-3">
            <h2 class="text-center">Pokemon List</h2>
            <div id="pokemonList">

            </div>
        </div>
    </div>
</section>